.button-container {
  height: 55px;
  display: flex;
  flex: 1 1; /* prop definida en flexbox, longitud flexible. indica cuánto se puede encoger o expandir el componente en base a otros componentes q tenga cerca. cuando le decimos 1 1 le decimos a css q queremos q esos elementos se distribuyan el esapcio de forma equitativa, q no haya uno más grande q el otro, mismo ancho y altura. por ej si tengo dos botones se dividen ele spacio mita y mita, si tengo 3 ocupa 1/3 del esapcio c/u */
  justify-content: center;
  align-items: center;
  font-weight: bold;
  font-size: 35px;
  background-color: #ff8fa3;
  color: white;
  border-radius: 25px;
  border: 0px solid white;
  box-shadow: #ff4d6d 0px 3px;
  margin: 4px;
  cursor: pointer;
  user-select: none;
}

.button-container:hover{
  background-color: #ff4d6d;
}

.operator{
  background-color: #ff758f;
  box-shadow: #c9184a 0px 3px;
}

.operator:hover{
  background-color: #c9184a;
}

