.input {
  height: 60px;
  border-radius: 50px;
  margin-bottom: 15px;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  font-weight: bold;
  font-size: 30px;
  background-color: #590d22;
  color: white;
  padding: 11px 30px 11px 11px;
}
